@import "./_mixins.scss";
@import "./_variables.scss";
@import "./responsive.scss";

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  scroll-behavior: smooth;
  background-color: $secondary-color;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: $primary-color;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
  outline: none;
}

a,
button {
  cursor: pointer;
}

.bg-primary {
  background-color: $primary-color;
}

.text-primary {
  color: $primary-color;
}

a,
button,
input[type="text"] {
  min-width: 44px;
  min-height: 44px;
}

select,
input,
textarea {
  min-height: 44px;
  background-color: #d0cdcd;
  border-radius: 10px;
  border: 0;
}

.container {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 40px;
  padding: 2.5rem;
  @include tablet {
    grid-template-columns: repeat(3, 1fr);
  }
}

.center {
  text-align: center;
}

.item-center {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.rounded {
  border-radius: 5px;
}

.material-icons {
  vertical-align: middle !important;
  user-select: none;
  position: relative;
  top: -2px;
}

footer {
  color: $white-color;
  text-align: center;
  margin-top: 3rem;
  padding: 1.5rem;
  background-color: $primary-color;
}
